<div class="container-fluid">
  <div class="text-center">
    <h1 class="text-success">Task Remainder</h1>
  </div>
  <br>
  <div id ="border">
    <div>
      <form (ngSubmit)="storeValue()" [formGroup]="addCheckbox">
        <input class="bg-success text-white inputWidth" type="text" placeholder="AddText" formControlName="AddText"><br>
      </form>
    </div>
    <form>
      <div *ngFor="let e of s; let i = index">
        <input class = "space2" name="check1" [checked]="e.checked? 'checked':''" type="checkbox" (change)="e.checked=!e.checked">
        <label [ngStyle]="e.checked?{ 'text-decoration': 'line-through'} : {}" class=" space  ">{{e.text}}</label>
        <input class="space1 btn btn-danger" type="button" name="delete" value="delete" (click)="deletetext(i)">
      </div>
    </form>
  </div>
</div>